* {
  box-sizing: border-box;
}

/* html */
html {
  height: 100%;
} 

/* main body */
body {
  font-family: 'Gilda Display' ;
  margin: 0% ;
  background-color: #10101E;
  height: 100%;
}

/* header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

/* GRAND HOTEL */
.heading{
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  color:white; 
  margin-left: 20px; 
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* date and time */
.datetime{
  color: #fff;
  width: 200px;
  padding: 15px 10px;
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.datetime:hover{
  background: rgba(85, 85, 85, 0.301);
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.date{
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time{
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time span:last-child{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px;
  border-radius: 3px;
}

/* Tab Menu */
.tm-nav{
  width: 100%;
  background: rgba(85, 85, 85, 0.301);
  display: block;
  font-family: 'Gilda Display'; 
}
.tm{
    width: 100%;
}
.tm-list{
  text-align:center;
  width: 20%;
  font-size: 17px;
  transition: 0.5s ease;
}
.tm-list:hover{
  background-color: rgba(85, 85, 85, 0.601);
  box-shadow: 0 0 10px black;
}          
.tm-nav div ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 50px; 
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(85, 85, 85, 0.301);
  z-index:10;
} 
                  /* style the container */
                  .container {
                    position: relative;
                    padding: 20px 0 30px 0;
                    background-color: white;
                  } 
                  
                  /* style inputs and link buttons */
                  input{
                    width: 100%;
                    padding: 12px;
                    border: none;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    display: inline-block;
                    font-size: 17px;
                    line-height: 20px;
                    text-decoration: none; /* remove underline from anchors */
                  }
                  
                  .btn{
                    width: 100%;
                    padding: 12px;
                    display: inline-block;
                    font-size: 17px;
                    line-height: 20px;
                    text-decoration: none;
                    background-color: #01010E;
                    color: white;
                    transition: .5s ease; 
                  }
                  
                  /* style the submit button */
                  input[type=submit] {
                    background-color: #01010E;
                    color: white;
                    cursor: pointer;
                    transition: .5s ease;
                  }
                  
                  input[type=submit]:hover, .btn:hover {
                    background-color: #555;
                  }
                  
                  /* Two-column layout */
                  .col {
                    float: left;
                    width: 30%;
                    margin: 0;
                    padding: 0 50px;
                  }
                  
                  /* Clear floats after the columns */
                  .row:after {
                    content: "";
                    display: table;
                    clear: both;
                  }
                  
                  /* vertical line */
                  .vl {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    height: 175px;
                  }
                  
                  /* bottom container */
                  .bottom-container {
                    text-align: center;
                    background-color: #01010E;
                  }
                  .vl-innertext {
                    position: absolute;
                    top: 90%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    padding: 0px 0px;
                  }
                  img{
                    width:250px; 
                    height: 250px; 
                    border-radius: 50%;
                  }

              