html {
  height: 100%;
} 
body {
  font-family: 'Gilda Display' ;
  margin: 0% ;
  background-color: #10101E;
  height: 100%;
}
.heading{
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  color:white; 
  margin-left: 20px; 
  letter-spacing: 10px;
  text-transform: uppercase;
} 
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}  
.datetime{
 color: #fff;
  width: 200px;
  padding: 15px 10px;
  border: 3px solid #555;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background, box-shadow;
}
            
.datetime:hover{
              background: #555;
              box-shadow: 0 0 30px rgb(0, 0, 0);
            }
            
.date{
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
            
.time{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
            
.time span:not(:last-child){
              position: relative;
              margin: 0 6px;
              font-weight: 600;
              text-align: center;
              letter-spacing: 3px;
            }
            
.time span:last-child{
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
              padding: 0 5px;
              border-radius: 3px;
            }
.tm-nav{
        width: 100%;
        background-color: #555;
        display: block;
        font-family: 'Gilda Display'; 
        }

.tm{
    width: 100%;
}
             
.tm-nav div{
            display: table;
            }
             
.tm-nav div ul li{
                 display:inline-block;  
                 font-size: 17px;  
             }

.tm-list{
    text-align:center;
    width: 16.66%;
}           
             .tm-nav div ul li a{
                 text-decoration: none;
                 color: #fff;
                 line-height: 50px; 
                 padding: 100% 50px;
                 transition: 0.5s ease;
             }
    
             .tm-nav div ul li a:hover{ 
                 background-color: #777;
             }

            * {
                box-sizing: border-box;
              }
              .sticky {
                position: fixed;
                top: 0;
                width: 100%;
                background-color: #555;
                z-index:10;
              }
              .bgimg-1, .bgimg-2, .bgimg-3 {
                position: relative;
                opacity: 0.65;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              
              }
              .bgimg-1 {
                background-image: url("../images/Home1.jpg");
                min-height: 100%;
              }
              
              .bgimg-2 {
                background-image: url("../images/nagesh-badu-Osc-RQGb-Ws-unsplash.jpg");
                min-height: 400px;
              }
              
              .bgimg-3 {
                background-image: url("../images/mar-ko-pQ5hSOrkYgE-unsplash.jpg");
                min-height: 400px;
              }
              
              .caption {
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                text-align: center;
                color: #000;
              }
              
              .caption span.border {
                background-color: #111;
                color: #fff;
                padding: 18px;
                font-size: 25px;
                letter-spacing: 10px;
              }
              
              h3 {
                letter-spacing: 5px;
                text-transform: uppercase;
                font: 20px "Lato", sans-serif;
                color: #111;
              }
              
              /* Turn off parallax scrolling for tablets and phones */
              @media only screen and (max-device-width: 1024px) {
                .bgimg-1, .bgimg-2, .bgimg-3 {
                  background-attachment: scroll;
                }
              }

              
            
            
            .site-logo {
             width: 218.33px !important;
             margin-right: 50px;
            }
            .btn {
             border-radius: 5px;
             font-weight: normal;
             font-size: 15px;
             letter-spacing: 0.02em;
             line-height: 12px;
             text-align: center;
             font-weight: 600;
             font-size: 14px;
             padding: 14px 30px;
             cursor: pointer;
            }
            .btn-theme {
             background: var(--theme-color1);
             color: #212121;
            }
            
            .c-container {
              margin: auto;
              width: 93%;
              position: relative;
              z-index: 1;
            }
            
            .btn-outline-white {
              color: #fff;
              background-color: rgba(255, 255, 255, 0.1);
              background-image: none;
              border-width: 2px;
              border-color: #fff;
              font-weight: 500;
              -webkit-transition: all .2s;
              transition: all .2s;
            }
            .btn {
              border-radius: 5px;
              font-weight: normal;
              font-size: 15px;
              letter-spacing: 0.02em;
              line-height: 12px;
              text-align: center;
              font-weight: 600;
              font-size: 14px;
              padding: 14px 30px;
              cursor: pointer;
            }
            .btn-outline-white:hover {
              background-color: #fff;
              color: var(--text-dark);
            }
            
            .testimonial p {
             font-size: 28px;
             letter-spacing: 0.02em;
             line-height: 35px;
            }
            .testimonial .name {
             font-weight: bold;
             font-size: 18px;
             letter-spacing: 0.04em;
             line-height: 35px;
             text-align: left;
            }
            .testimonial .designation {
             font-size: 14px;
             letter-spacing: 0.04em;
             text-align: left;
             color: rgb(255, 255, 255);
             opacity: 0.65;
            }
            .unt {
             margin-bottom: 20px;
             margin-top: 60px;
            }
            .hero-text {
             font-size: 30px;
             letter-spacing: 0.02em;
             color: #fff;
            }
            .gallery-thumbs {
             height: 100%;
            }
            .gallery-thumbs .swiper-wrapper {
             align-items: center;
            }
            .gallery-thumbs .swiper-slide {
             background-position: center;
             background-size: cover;
             width: 250px !important;
             height: 330px;
             position: relative;
            }
            .gallery-thumbs .swiper-slide img {
             filter: contrast(0.5) blur(1px);
             width: 100%;
             height: 100%;
             object-fit: cover;
             border-radius: 10px;
            }
            .gallery-thumbs .swiper-slide-active img {
             filter: contrast(1) blur(0px) !important;
            }
            .flex-row {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -ms-flex-wrap: wrap;
             flex-wrap: wrap;
             margin-right: -15px;
             margin-left: -15px;
            }
            .flex-row .flex-col {
             -ms-flex-preferred-size: 0;
             flex-basis: 0;
             -webkit-box-flex: 1;
             -ms-flex-positive: 1;
             flex-grow: 1;
             max-width: 100%;
             position: relative;
             width: 100%;
             min-height: 1px;
             padding-right: 15px;
             padding-left: 15px;
            }
            
            .gallery-thumbs .swiper-wrapper {
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
            }
            
            
            .testimonial-section .quote {
              width: 75%;
              height: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              padding-left: 100px;
              padding-right: 100px;
            }
            .swiper-container.testimonial {
              height: 400px;;
            }
            .testimonial-section .user-saying {
              background: var(--theme-color2);
              width: 60%;
              color: #fff;
              height: 100%;
            }
            .testi-user-img {
              width: 40%;
            }
            .testimonial-section {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
              width: 100%;
              height:100%;
            }
            .testimonial-section .quote p {
              font-size: 20px;
              font-weight: 300;
              line-height: 1.8;
              font-style: italic;
              margin: 0;
            }
            .quote-icon {
              width: 38px;
              display: block;
              margin-bottom: 30px;
            }
  
  
      
  
    
  
  
  
  
      
  
    
  
  